
<div class="rowtime">
  <form [formGroup]='dateForm' class="selected">
    <input type="text" placeholder="startDate" formControlName='dateFrom' name='dateFrom'>
    <input type="text" placeholder="EndDate" formControlName='dateTo' name='dateTo'>
  </form>
</div>
<div class="editEvents">
  <span class="edEvSpan">Edit events</span>
  <button class="btn-addnew" (click)="addEvent()"> + </button>
  
  <table class="table-bordered">
      <thead>
          <tr>
            <th>Title</th>
            <th>Color</th>
            <th>Start</th>
            <th>End</th>
            <th>Remove</th>
          </tr>
        </thead>

        <tbody>
          <tr class="eventi" *ngFor="let event of events"(click)="settime(event)">
            <td><input type="text" class="eventText" value="{{event.title}}"></td>
              <td><input type="color" value="{{event.color}}"></td>
              <td><input type="text" placeholder="..." value="{{event.start}}"></td>
              <td><input type="text" placeholder="..." value="{{event.end}}"></td>
              <td><button class="deleteEventBtn" (click)="destroyEvent(event)">Delete</button></td>
          </tr>
        </tbody>
  </table>
  </div>
